.navbar {
  background-color: rgb(227, 254, 239);
}
.nav-btns{
  text-align: center;
  max-width: 85px;
}
.right-btn{
  position: relative;
  margin-right: 10px;
}
.form-inline{
  justify-content: flex-end;
}