.container {
  align-content: 'center';
  width: 100vw;
}
.jumbotron {
  margin-block-start: 0px;
}
h2{
  text-align: center;
}
.user-card{
  width: 35%;
  min-height: 100px;
}
.cal-card{
  width: 85%;
  align-self: center;
  text-align: left;
  align-content: flex-start;
}